In [7]:
import pandas as pd
import numpy as np 
import seaborn as sns
import random
import matplotlib.pyplot as plt
import math


%matplotlib inline

In [112]:
AvgTemperature17=[]
AvgTemperature16=[]


AvgHumidity17=[]
AvgHumidity16=[]

Rainfall17=[]
Rainfall16=[]

Altitude=[]



Dengue_Cases16=[]
Dengue_Cases17=[]

Area=[]

Months=[]

In [113]:
# Considering the no.of areas to be 10
Area=[]
random.seed(1)

for i in range(0,10000):
    Area.append(math.ceil(random.uniform(0,10)))
    
    
0 in area

False

In [114]:
areacount=[0,0,0,0,0,0,0,0,0,0]
for i in range(0,10000):
    if Area[i]==1:
        areacount[0]=areacount[0]+1
        
    elif Area[i]==2:
        areacount[1]=areacount[1]+1
        
    elif Area[i]==3:
        areacount[2]=areacount[2]+1
        
    elif Area[i]==4:
        areacount[3]=areacount[3]+1
        
    elif Area[i]==5:
        areacount[4]=areacount[4]+1
        
    elif Area[i]==6:
        areacount[5]=areacount[5]+1
        
    elif Area[i]==7:
        areacount[6]=areacount[6]+1
        
    elif Area[i]==8:
        areacount[7]=areacount[7]+1
        
    elif Area[i]==9:
        areacount[8]=areacount[8]+1
        
    elif Area[i]==10:
        areacount[9]=areacount[9]+1

In [115]:
areacount

[1041, 1017, 957, 1026, 982, 998, 997, 962, 987, 1033]

In [116]:
random.seed(2)
Altitude=[]

for i in range(0,10000):
    if area[i]==1:
        Altitude.append(920)#banglore
        
        
    elif Area[i]==2:
        Altitude.append(505)#hyd
        
    elif Area[i]==3:
        Altitude.append(81)#gujarat
        
    elif Area[i]==4:
        Altitude.append(14)#maharashtra
        
    elif Area[i]==5:
        Altitude.append(1022)#goa
        
    elif Area[i]==6:
        Altitude.append(6.7)#tn
        
    elif Area[i]==7:
        Altitude.append(290)#assam
        
    elif Area[i]==8:
        Altitude.append(2600)#kufri
        
    elif Area[i]==9:
        Altitude.append(527)#mp
        
    elif Area[i]==10:
        Altitude.append(2006)#mussori

In [117]:
Altitude[0:10]

[505, 527, 2600, 81, 1022, 1022, 290, 2600, 920, 920]

In [123]:
temp17={'banglore':[25,28,31,33,31,26,26,26,25,26,25,24],'hyd':[26,30,33,37,34,28,30,29,29,29,27,26],'gujarat':[25,29,33,36,36,33,31,32,32,34,29,25],'maharashtra':[29,29,32,33,33,32,30,30,30,31,32,31],'goa':[30,31,31,32,30,27,30,30,28,28,29,28],'tn':[28,28,31,33,33,31,33,33,31,30,28,27],'assam':[22,25,26,29,27,28,30,32,30,28,24,22],'kufri':[10,15,17,24,18,19,26,25,23,21,17,14],'mp':[22,26,31,36,36,31,28,29,28,29,25,22],'mussori':[12,17,20,27,20,20,27,26,22,20,16,14]}

temp16={'banglore':[25,27,30,32,27,24,26,26,25,25,24,23],'hyd':[26,30,33,37,36,31,28,28,27,27,26,26],'gujarat':[27,29,34,36,39,37,32,30,31,32,30,27],'maharashtra':[29,31,32,33,31,29,30,31,29,31,31,28],'goa':[30,30,32,32,33,30,29,29,29,30,31,30],'tn':[28,29,31,33,34,33,33,33,32,31,29,28],'assam':[19,24,29,30,31,31,29,32,30,28,25,22],'kufri':[11,15,18,24,27,28,26,25,24,21,17,14],'mp':[23,27,32,36,38,36,29,26,28,28,26,23],'mussori':[13,17,21,27,30,30,26,26,26,23,19,16]}

In [124]:
placesnames=['banglore','hyd','gujarat','maharashtra','goa','tn','assam','kufri','mp','mussori']

print(places['hyd'][11])

22

In [125]:
Months=[]

random.seed(4)

for i in range(0,10000):
    
    Months.append(math.ceil(random.uniform(1,12)))

In [126]:
0 in months

False

In [127]:
AvgTemperature17=[]

for i in range(0,10000):
        
    for j in range(0,10):
                
        if Area[i]==j+1:
                        
            for k in range(0,12):
                                
                if Months[i]==k+1:
                    
                    #print("{}     {}    {}".format(i,j+1,k+1))
                    AvgTemperature17.append(temp17[placesnames[j]][k])
                    
                    
                    
AvgTemperature16=[]

for i in range(0,10000):
        
    for j in range(0,10):
                
        if Area[i]==j+1:
                        
            for k in range(0,12):
                                
                if Months[i]==k+1:
                    
                    #print("{}     {}    {}".format(i,j+1,k+1))
                    AvgTemperature16.append(temp16[placesnames[j]][k])

In [128]:
rainfall17={'banglore':[8.2,0,48.1,19.9,230.3,203.2,58,266.2,493.7,433.4,74.2,26.4],'hyd':[0.1,0,10.8,3.3,11.5,163.3,66.4,212.5,282,362,2.6,0],'gujarat':[1.7,0,0,0.1,0.4,130.6,544.3,177.9,30.5,0,0,8.9],'maharashtra':[0,0,1,0,26,742.6,1117.9,559.4,179.6,130.6,0,32.5],'goa':[0,0,0.9,1.2,90,1072.4,1380,696.84,413.2,147.3,2.4,6],'tn':[9.9,1,12,0.2,5.7,87.5,92.9,155.4,124.9,333,832.8,35.4],'assam':[2,32.9,116.7,246.3,241.6,808.8,686.1,668.3,827.9,433.1,8.1,3.4],'kufri':[69.9,29.7,69,94.8,112.6,196.4,482.6,304,135.3,0,0.8,64.8],'mp':[2.4,3.4,0.1,0.5,12.7,138.6,325.4,235.5,319.6,14.9,3.9,0.1],'mussori':[69.1,19,39.4,88.5,142.1,227.2,914.7,700.7,303.4,0,14.7,80.3]}

rainfall16={'banglore':[10.6,0,5.61,6.88,95.87,176.4,231.28,88.73,97.13,48.49,6.3,48.4],'hyd':[3.89,0,5.99,0,62.38,284.46,191.75,83.86,138.67,32.7,0.1,1.4],'gujarat':[0,0,0.8,0,1.8,33.4,267.67,345.33,14.86,81.2,0,0],'maharashtra':[0,0.2,4.19,0,13.41,793.27,1546.09,794.36,601.7,89.93,0,0.5],'goa':[1,0,0,0.8,30.75,1144.62,1327.66,1012.33,530.86,60.2,5.2,25.2],'tn':[7.01,0.59,0.1,0.1,261.15,130.15,115.79,106.15,183.81,73.08,17.6,194.2],'assam':[25.39,4.83,28.73,199.54,369.52,624.6,771.39,370.15,483.8,194.15,6,8.2],'kufri':[5.01,37.09,79.68,38.59,170.8,172.81,358.96,382.85,49.89,0.1,0,2.3],'mp':[6.49,0.5,9.7,0.6,7.49,139.83,404.35,558.62,123.3,93.48,0,0],'mussori':[3,27.3,68.14,24.61,180.92,423.26,902.6,820.73,164.36,12.59,0,2.7]}

In [129]:
Rainfall17=[]

for i in range(0,10000):
    for j in range(0,10):
        if Area[i]==j+1:
            
            for k in range(0,12):
                
                if Months[i]==k+1:
                    
                    Rainfall17.append(rainfall17[placesnames[j]][k])
                    
    
Rainfall16=[]

for i in range(0,10000):
    for j in range(0,10):
        if Area[i]==j+1:
            
            for k in range(0,12):
                
                if Months[i]==k+1:
                    
                    Rainfall16.append(rainfall16[placesnames[j]][k])

In [131]:
humidity17={'banglore':[62,45,49,45,71,79,67,74,74,76,74,68],'hyd':[44,34,33,23,45,83,60,66,64,57,49,40],'gujarat':[37,25,21,26,40,59,74,66,59,30,27,33],'maharashtra':[53,51,57,65,74,81,82,79,77,66,51,56],'goa':[55,62,64,71,75,83,82,81,80,78,59,57],'tn':[70,69,72,70,64,63,58,63,66,70,76,71],'assam':[61,54,61,74,80,86,88,80,80,79,72,70],'kufri':[53,40,38,31,53,74,79,80,67,40,36,34],'mp':[46,29,18,13,26,60,78,79,75,45,37,36],'mussori':[47,40,32,29,55,72,81,83,72,51,45,35]}

humidity16={'banglore':[62,50,44,42,57,75,76,75,80,69,63,66],'hyd':[47,41,36,27,35,62,76,73,82,69,49,47],'gujarat':[33,23,23,27,33,46,70,81,68,52,29,32],'maharashtra':[51,59,58,66,76,80,85,86,83,73,52,51],'goa':[56,63,67,70,74,79,86,85,83,73,56,53],'tn':[67,71,69,70,67,63,61,62,68,66,69,72],'assam':[77,62,49,75,78,87,94,85,88,82,79,75],'kufri':[42,41,43,30,39,54,79,84,65,32,25,35],'mp':[38,28,22,14,22,41,80,91,80,55,32,37],'mussori':[42,39,36,24,38,60,85,85,71,44,31,41]}

In [134]:
AvgHumidity17=[]

for i in range(0,10000):
    for j in range(0,10):
        if Area[i]==j+1:
            
            for k in range(0,12):
                
                if Months[i]==k+1:
                    
                    AvgHumidity17.append(humidity17[placesnames[j]][k])
                    
                    
                    
AvgHumidity16=[]

for i in range(0,10000):
    for j in range(0,10):
        if Area[i]==j+1:
            
            for k in range(0,12):
                
                if Months[i]==k+1:
                    
                    AvgHumidity16.append(humidity16[placesnames[j]][k])

In [136]:
DengueCases17={'banglore':[300,180,120,120,60,540,900,1380,1320,300,480,120],'hyd':[144,54,33,35,18,165,272,414,396,90,142,38],'gujarat':[128,48,32,32,16,144,240,345,352,80,128,32],'maharashtra':[220,80,53,54,27,243,405,621,594,135,216,54],'goa':[8,3,2,2,1,9,15,23,22,5,8,2],'tn':[640,240,162,163,88,734,1223,1854,1802,403,644,165],'assam':[136,51,34,34,17,153,255,391,374,85,136,34],'kufri':[12,5,3,3,2,14,23,35,33,8,12,3],'mp':[72,27,18,18,9,81,135,207,198,45,72,18],'mussori':[24,9,6,6,3,27,45,69,66,15,24,6]}

DengueCases16={'banglore':[168,63,44,45,23,188,315,483,462,105,168,44],'hyd':[112,43,28,28,14,122,210,322,308,70,112,28],'gujarat':[224,84,56,56,28,258,428,644,616,140,224,56],'maharashtra':[184,69,46,46,23,207,345,528,505,115,184,46],'goa':[4,2,1,1,0,5,8,12,11,3,4,1],'tn':[72,27,18,18,9,81,135,207,198,45,72,18],'assam':[168,63,42,42,21,189,315,483,462,105,168,42],'kufri':[8,3,2,2,1,9,15,23,22,5,8,2],'mp':[88,33,22,22,11,99,165,253,242,55,88,22],'mussori':[56,21,14,14,7,63,105,161,154,35,56,14]}

In [137]:


Dengue_Cases17=[]



for i in range(0,10000):
    
    for j in range(0,10):
        
        if Area[i]==j+1:
            
            for k in range(0,12):
                
                if Months[i]==k+1:
                    
                    Dengue_Cases17.append(DengueCases17[placesnames[j]][k])
                    
                    
                    
Dengue_Cases16=[]



for i in range(0,10000):
    
    for j in range(0,10):
        
        if Area[i]==j+1:
            
            for k in range(0,12):
                
                if Months[i]==k+1:
                    
                    Dengue_Cases16.append(DengueCases16[placesnames[j]][k])

[42, 3, 1, 40, 7, 18, 20, 2, 300, 120]

In [ ]:




dengueCurr={'banglore':[300,180,120,120,60,540,900,1380,1320,300,480,120],'hyd':[230,69,44,42,23,197,335,531,501,110,184,44],'gujarat':[80,50,40,40,10,160,180,310,410,80,130,30],'maharashtra':[220,80,30,40,20,200,310,480,450,140,140,50],'goa':[16,7,5,4,2,18,31,48,44,10,16,4],'tn':[640,240,162,163,88,734,1223,1854,1802,403,644,165],'assam':[60,30,10,20,10,100,180,210,220,50,120,20],'kufri':[0,0,0,0,1,1,0,2,2,2,3,1],'mp':[8,4,3,3,2,13,15,25,31,12,12,3],'mussori':[0,0,0,0,0,0,1,2,3,2,1,0]}

In [138]:
FeatureColumns={'Area':Area,'Month':Months,'Avg_Temperature_16':AvgTemperature16,'Avg_Temperature_17':AvgTemperature17,'Rainfall_16':Rainfall16,'Rainfall_17':Rainfall17,'Altitude':Altitude,'Avg_Humidity_16':AvgHumidity16,'Avg_Humidity_17':AvgHumidity17,'Dengue_Cases_16':Dengue_Cases16,'Dengue_Cases_17':Dengue_Cases17}

In [139]:
DengueForecastData=pd.DataFrame(FeatureColumns)

In [142]:
DengueForecastData.head()

,Area,Month,Avg_Temperature_16,Avg_Temperature_17,Rainfall_16,Rainfall_17,Altitude,Avg_Humidity_16,Avg_Humidity_17,Dengue_Cases_16,Dengue_Cases_17
0,2,4,37,37,0.00,3.3,505.0,27,23,28,35
1,9,3,32,31,9.70,0.1,527.0,22,18,22,18
2,8,6,28,19,172.81,196.4,2600.0,54,74,9,14
3,3,3,34,33,0.80,0.0,81.0,23,21,56,32
4,5,2,30,31,0.00,0.0,1022.0,63,62,2,3

In [144]:
DengueForecastData.to_csv('DengueData.csv')